

<ion-app>
  <ion-menu id="main-menu" content-id="main">
  
      
      <ion-header>       
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item href="/home">
            Home
          </ion-item>
          
          <ion-item href="/news">
            Notícias
          </ion-item>
          <ion-item href="/maps">
            Map
          </ion-item>
          
          
        </ion-list>
        <ion-menu-toggle>
          <ion-button expand="full">Toggle Menu</ion-button>
        </ion-menu-toggle>
      </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
