<ion-header>
  <ion-toolbar>
  <ion-title style="text-align: center;">Home</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <div id="container">
    <p>O aplicativo Newonics é um protótipo desenvolvido para exibição de notícias e geo localização.</p>
    <p>Versão do aplicativo 1.0</p>
    <p>Pedro Henrique de Azevedo Freire</p>
    <p><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Httpml">Facebook </a></p>
    
  </div>
</ion-content>
